@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}

nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}

nav h1 {
  color: #fff;
}

.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Recipe Grid */
.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recipe-card {
  background-color: white;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.recipe-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--secondary);
  padding: 20px 0;
  color: white;
  border-radius: 10px;
  height: 0;
  width: 40px;
  line-height: 0;
  text-align: center;
}

/* Form */
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

form button {
  width: 200px;
  height: 40px;
  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

form input,
textarea {
  border-style: dotted;
  height: 30px;
  border-color: darkgrey;
  margin-top: 10px;
}

form label {
  margin-top: 10px;
}

.recipe-card .button {
  text-align: right;
}

.recipe-card i {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  margin-left: 5px;
}

.button {
  cursor: pointer;
}

.orderBy button {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}